<div class="browseWrap">
    <div class="browseCenter">
        <h2>Recipes: Try some today!</h2>
        <div class="gridWrap">
            <div class="gridItem">
                <div class="itemImgDiv">
                    <img class="itemImg" src="../images/recipe-pizza.jpg" alt="">
                </div>
                <div class="itemDetailsDiv">
                    <div class="detailHeader">Supreme Pizza</div>
                    <div class="detailPara">Make pizza night super 
                        duper out of this world with 
                        homemade pizza. This recipe 
                        is supreme with vegetables 
                        and two types of meat. Yum!</div>
                    <div class="timerWrap">
                        <div class="icon">
                            <img src="../images/time.svg" alt="">
                        </div>
                        <div class="detail">1h 24min</div>
                    </div>
                    <div class="servingsWrap">
                        <div class="icon">
                            <img src="../images/servings.svg" alt="">
                        </div>
                        <div class="detail">4 servings</div>
                    </div>
                </div>
            </div>
            <div class="gridItem">
                <div class="itemImgDiv">
                    <img class="itemImg" src="../images/recipe-pizza.jpg" alt="">
                </div>
                <div class="itemDetailsDiv">
                    <div class="detailHeader">Supreme Pizza</div>
                    <div class="detailPara">Make pizza night super 
                        duper out of this world with 
                        homemade pizza. This recipe 
                        is supreme with vegetables 
                        and two types of meat. Yum!</div>
                    <div class="timerWrap">
                        <div class="icon">
                            <img src="../images/time.svg" alt="">
                        </div>
                        <div class="detail">1h 24min</div>
                    </div>
                    <div class="servingsWrap">
                        <div class="icon">
                            <img src="../images/servings.svg" alt="">
                        </div>
                        <div class="detail">4 servings</div>
                    </div>
                </div>
            </div>
            <div class="gridItem">
                <div class="itemImgDiv">
                    <img class="itemImg" src="../images/recipe-pizza.jpg" alt="">
                </div>
                <div class="itemDetailsDiv">
                    <div class="detailHeader">Supreme Pizza</div>
                    <div class="detailPara">Make pizza night super 
                        duper out of this world with 
                        homemade pizza. This recipe 
                        is supreme with vegetables 
                        and two types of meat. Yum!</div>
                    <div class="timerWrap">
                        <div class="icon">
                            <img src="../images/time.svg" alt="">
                        </div>
                        <div class="detail">1h 24min</div>
                    </div>
                    <div class="servingsWrap">
                        <div class="icon">
                            <img src="../images/servings.svg" alt="">
                        </div>
                        <div class="detail">4 servings</div>
                    </div>
                </div>
            </div>
            <div class="gridItem">
                <div class="itemImgDiv">
                    <img class="itemImg" src="../images/recipe-pizza.jpg" alt="">
                </div>
                <div class="itemDetailsDiv">
                    <div class="detailHeader">Supreme Pizza</div>
                    <div class="detailPara">Make pizza night super 
                        duper out of this world with 
                        homemade pizza. This recipe 
                        is supreme with vegetables 
                        and two types of meat. Yum!</div>
                    <div class="timerWrap">
                        <div class="icon">
                            <img src="../images/time.svg" alt="">
                        </div>
                        <div class="detail">1h 24min</div>
                    </div>
                    <div class="servingsWrap">
                        <div class="icon">
                            <img src="../images/servings.svg" alt="">
                        </div>
                        <div class="detail">4 servings</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>