<div class="createWrap">
    <div class="createFormWrap">
        <div id="createHeader" >Hey User, create your recipe!</div>
        <form id="createForm" class="createForm" action="">
            <!-- <div class="recipeDetailsWrap"> -->
                <input name="img" class="input" type="text" value="Add Image Url">
                <input name="name" class="input" type="text" value="Recipe Name">
                <input name="desc" class="input" type="text" value="Recipe Description">
                <input name="time"  class="input" type="text" value="Recipe Total Time">
                <input name="size" class="input" type="text" value="Recipe Serving Size">
            <!-- </div> -->
            <div class="recipeIngredWrap">
                <p>Enter Ingredients:</p>
                <input name="ing1" id="ingred1" class="input" type="text" value="Ingredient #1">
                <input name="ing2" id="ingred2" class="input" type="text" value="Ingredient #2">
                <input name="ing3" id="ingred3" class="input" type="text" value="Ingredient #3">
                
            </div>
            <div class="inputWrap">
                <input class="addBtn" id="addIngredients" type="button" value="+">
            </div>

            <div class="recipeInstructWrap">
                <p>Enter Instructions:</p>
                <input name="inst1" id="instruct1" class="input" type="text" value="Instruction #1">
                <input name="inst2" id="instruct2" class="input" type="text" value="Instruction #2">
                <input name="inst3" id="instruct3" class="inputWBtn" type="text" value="Instruction #3">
               
            </div>
            <div class="inputWrap">
                <input class="addBtn" id="addInstruction" type="button" value="+">
            </div>
            
            <div class="createBtnWrap">
                <input id="createRecipeBtn" class="createBtn" type="button" value="Create Recipe">
            </div>
            </form>
    </div>
</div>