<div class="detailPageWrap">
    <div id="detailDiv" class="detailCenter">
        <div class="descDiv">
            <p class="sideTitle">${recipedata.name}</p>
            <img src="${recipedata.img}" alt="">
            <div class="detailDiv">
                <h2>Description:</h2>
                <p>${recipedata.desc}</p>
                <p class="detailSubTitle" >Total Time:</p>
                <p>${recipedata.time}</p>
                <p class="detailSubTitle" >Servings:</p>
                <p>${recipedata.size}</p>
            </div>
        </div>
        <div class="ingDiv">
            <p class="ingTitle">Ingredients:</p>
            <p>${recipedata.ing1}</p>
            <p>${recipedata.ing2}</p>
            <p>${recipedata.ing3}</p>
            <p>${recipedata.ing4}</p>
            <p>${recipedata.ing5}</p>
            <p>${recipedata.ing6}</p>
            <p>${recipedata.ing7}</p>
            <p>${recipedata.ing8}</p>
            <p>${recipedata.ing9}</p>
            <p>${recipedata.ing10}</p>
        </div>
        <div class="instructDiv">
            <p class="instructTitle">Instructions:</p>
            <p>${recipedata.inst1}</p>
            <p>${recipedata.inst2}</p>
            <p>${recipedata.inst3}</p>
            <p>${recipedata.inst4}</p>
            <p>${recipedata.inst5}</p>
            <p>${recipedata.inst6}</p>
            <p>${recipedata.inst7}</p>
            <p>${recipedata.inst8}</p>
            <p>${recipedata.inst9}</p>
            <p>${recipedata.inst10}</p>
            
        </div>
        <div class="editBtnWrap">
            <button id="edit">Edit Recipe</button>
        </div>`
</div>
</div>