<div class="loginWrap">
    <div class="formWrap">
        <div class="logInDiv">
            <h1>Login Here!</h1>
            <form class="loginForm" action="">
                <input id="email" class="input" type="email" id="loginEmail" value="Email Address">
                <input id="pass" class="input" type="password" id="loginPass" value="Password">
                <input id="submitLoginBtn" class="formLoginBtn" type="submit" value="Login">
            </form>
        </div>
        <div class="signUpDiv">
            <p>don’t have an account?</p>
            <p class="signUpHeader">Sign Up!</p>
            <form class="signUpForm" action="">
                <input class="input" type="text" id="fName" value="First Name" required>
                <input class="input" type="text" id="lName" value="Last Name" required>
                
                <input class="input" type="email" id="signUpEmail" value="Email Address" required>
                <input class="input" type="password" id="signUpPass" value="Password" minlength="8" required>
                <input id="signUpBtn" class="formSignUpBtn" type="submit" value="Sign Up">
            </form>
            </div>
    </div>
</div>