<nav>
  <div class="logoWrap">
    <div class="circleLeft"></div>
    <div class="circleMiddle"></div>
    <div class="circleMiddleRight"></div>
    <div class="circleRight"></div>
    <p class="logoText">The Jungle Cook</p>
  </div>

  <div class="linkWrap">
    <a id="home" href="#">Home</a>
    <a id="browse" href="#">Browse</a>
    <a id="create" href="#">Create Recipe</a>
    <div id="logBtnChange" class="logBtnDiv">
    <a class="logInBtn"  href="#" id="login">Log In</a>
    </div>
  </div>

  <div class="navicon">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>  
  </div>
</nav>
