.recipeWrap {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(167, 232, 189, 0.8),
        rgba(167, 232, 189, 0.8)
      ),
      url(../images//recipe-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    .recipeCenter{
        // background-color: burlywood;
        width: 1100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 150px;
        margin-bottom: 150px;
        .yourHeader{
            font-size: 25px;
            font-family: Caveat;
            font-weight: 700;
        }
        .gridWrap{
            display: grid;
            margin-top: 30px;
            // background-color: cadetblue;
            grid-gap: 50px 50px;
            grid-template-columns: auto auto;
            .gridItem{
                width: 525px;
                // background-color: chartreuse;
                // height: 263px;
                
                .itemTopWrap{
                    // background-color: darkseagreen;
                    display: flex;
                    .itemImgDiv{
                        width: 300px;
                        height: 263px;
                        background-color: white;
                        border-radius: 24px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // object-fit: cover;
                        img{
                            width: 100%;
                        }
                        .itemImg{
                            width: 300px;
                            height: 263px;
                            // width: 100%;
                            border-radius: 24px; 
                            object-fit: cover;
                        }
                        .viewBtn{
                            position: absolute;
                            width: 130px;
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            border-radius: 26px;
                            background-color: #FFD972;
                            font-size: 20px;
                            font-family: caveat;
                            box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
                            cursor: pointer;
                        }
                    }
                    .itemDetailsDiv{
                        width: 224px;
                        background-color: white;
                        padding: 20px;
                        border-radius: 24px;
                        font-family: lato;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .detailHeader{
                            width: 141px;
                            border-bottom: 3px solid black;
                            font-size: 15px;
                            margin-bottom: 19px;
                        }
                        .detailPara{
                            width: 141px;
                            font-size: 9px;
                            margin-bottom: 19px;
                        }
                        .timerWrap{
                            width: 141px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 17px;
                            .icon{
                                img{
                                 width: 23px;   
                                }
                            }
                            .detail{
                                margin-left: 17px;
                                font-size: 10px;
                            }
                        }
                        .servingsWrap{
                            width: 141px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .icon{
                                img{
                                 width: 23px;   
                                }
                            }
                            .detail{
                                margin-left: 17px;
                                font-size: 10px;
                            }
                        }
                        
                    }
                }
                .btnWrap{
                    width: 300px;
                    display: flex;
                    padding: 10px;
                    justify-content: space-between;
                    button{
                        width: 130px;
                            height: 42px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: none;
                            border-radius: 26px;
                            background-color: #FFD972;
                            font-size: 20px;
                            font-family: caveat;
                            box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.16);
                            cursor: pointer;
                        }
                }
            }
        }
    }
    
}
@media all and (max-width:1024px){
    .recipeWrap{
        .recipeCenter{
            align-items: center;
            .gridWrap{
                // background-color: goldenrod;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}