<div class="applyBackground">
    <div class="applyHeader"> <span>Apply </span> Rally 2021</div>
    <div class="applyBottomWrap">
        <div class="form">
            <div class="smallForm">Driver Name</div>
            <div class="smallForm">Driver Name</div>
            <div class="smallForm">Driver Name</div>
            <div class="smallForm">Driver Name</div>
            <div class="bigForm">Driver Name</div>
            <button class="formBtn">Submit</button>
        </div>
        <div class="contactWrap">
            <div class="contactInfo"> <h2> Contact Us:</h2>
                info@emaail.com <br>
                website.com <br>
                California, USA</div>
            <div class="socialWrap">
                <div ><img class="socialLogo" src="../assests/images/facebook.png" alt=""></div>
                <div ><img class="socialLogo2" src="../assests/images/twitter.png" alt=""></div>
                
            </div>
        </div>
    </div>
</div>