<section class="eventImage">
    <div class="eventWrap">
    <div class="eventHead"> <span>2021</span> Event Info</div>
    <div class="eventPara">RALLY 2021 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Fusce faucibus varius ligula, a tincidunt felis pulvinar non. Sed maximus leo risus. 
        Suspendisse vel lacus eget ligula venenatis scelerisque sed eget justo. 
        Nam eu tellus eu dolor blandit semper non ac arcu. Ut nec enim suscipit, 
        laoreet tortor et, commodo felis. Suspendisse porta accumsan nisi, id volutpat 
        lectus rhoncus accumsan. Duis tempus, quam non efficitur volutpat, ante tellus 
        scelerisque nisi, eget suscipit ex ipsum a ipsum. Duis sit amet felis nunc. 
        Fusce gravida efficitur nisi, vel mattis sapien lacinia et. Maecenas ac justo lorem. 
        Donec quis arcu ex. Mauris eget mi mattis, pretium risus sollicitudin, pulvinar nisi. 
        </div>
    <div class="eventBottom">Past Events</div>
    <p>2018   2019</p>
</div>
</section>