<div class="faqBackground">
  <div class="faqHeader">FAQ</div>
  <div class="faqWrap">
    <div class="questions">
        <p><span>Question?</span><br>
            Answer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce faucibus varius ligula, a tincidunt felis pulvinar non. 
            Sed maximus leo risus. Suspendisse vel lacus eget
        </p>
        <p> <span>Question?</span> <br>
            Answer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce faucibus varius ligula, a tincidunt felis pulvinar non. 
            Sed maximus leo risus. Suspendisse vel lacus eget
        </p>
        <p><span>Question?</span>  <br>
            Answer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce faucibus varius ligula, a tincidunt felis pulvinar non. 
            Sed maximus leo risus. Suspendisse vel lacus eget
        </p>
        <p><span>Question?</span>  <br>
            Answer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce faucibus varius ligula, a tincidunt felis pulvinar non. 
            Sed maximus leo risus. Suspendisse vel lacus eget
        </p>
        <p><span>Question?</span>  <br>
            Answer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce faucibus varius ligula, a tincidunt felis pulvinar non. 
            Sed maximus leo risus. Suspendisse vel lacus eget
        </p>
        <p><span>Question?</span>  <br>
            Answer: Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Fusce faucibus varius ligula, a tincidunt felis pulvinar non. 
            Sed maximus leo risus. Suspendisse vel lacus eget
        </p>
    </div>
    <div class="included">
        <div class="includedHead">Whats Included</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus varius ligula, 
            a tincidunt felis pulvinar non. Sed maximus leo risus. 
            Suspendisse vel lacus eget ligula venenatis scelerisque sed eget justo. 
            Nam eu tellus eu dolor blandit semper non ac arcu. Ut nec enim suscipit, laoreet tortor et,
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus varius ligula, 
            a tincidunt felis pulvinar non. Sed maximus leo risus. 
            Suspendisse vel lacus eget ligula venenatis scelerisque sed eget justo. 
            Nam eu tellus eu dolor blandit semper non ac arcu. Ut nec enim suscipit, laoreet tortor et,
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus varius ligula, 
            a tincidunt felis pulvinar non. Sed maximus leo risus. 
            Suspendisse vel lacus eget ligula venenatis scelerisque sed eget justo. 
            Nam eu tellus eu dolor blandit semper non ac arcu. Ut nec enim suscipit, laoreet tortor et,
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus varius ligula, 
            a tincidunt felis pulvinar non. Sed maximus leo risus. 
            Suspendisse vel lacus eget ligula venenatis scelerisque sed eget justo. 
            Nam eu tellus eu dolor blandit semper non ac arcu. Ut nec enim suscipit, laoreet tortor et,
        </p>
        

    </div>
  </div>
</div>
