<div class="videoHead">VIDEOS</div>
<div class="videoGrid">
    <div class="videoItem">
        <div class="vidPlay"><img src="../HW3_INJECT/assests/images/youtubelogo.png" alt=""></div>
    </div>
    <div class="videoItem">
        <div class="vidPlay"><img src="../HW3_INJECT/assests/images/youtubelogo.png" alt=""></div>
    </div>
    <div class="videoItem">
        <div class="vidPlay"><img src="../HW3_INJECT/assests/images/youtubelogo.png" alt=""></div>
    </div>
    <div class="videoItem">
        <div class="vidPlay"><img src="../HW3_INJECT/assests/images/youtubelogo.png" alt=""></div>
    </div>
    <div class="videoItem">
        <div class="vidPlay"><img src="../HW3_INJECT/assests/images/youtubelogo.png" alt=""></div>
    </div>
    <div class="videoItem"><div class="vidPlay"><img src="../HW3_INJECT/assests/images/youtubelogo.png" alt=""></div></div>
</div>