.faqBackground{
    width: 100%;
    background-image:  linear-gradient(to bottom, rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../assests/images/group.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    .faqHeader{
        font-family: Montserrat;
        font-size: 300px;
            font-weight: 700;
            color: #787777;
            margin-right: -130px;
            text-shadow:12px 12px 20px black;
            // margin-top: -20px;
            padding-top: -20px;
    }
    .faqWrap{
        width: 100%;
        font-family: Montserrat;
        display: flex;
        justify-content: space-around;
        .questions{
            width: 600px;
            color: white;
            font-size: 16px;
            padding-bottom: 20px;
            padding-left: 20px;
            span{
                font-weight: 700;
            }
        }
        .included{
            // background-color: teal;
            width: 500px;
            font-family: Montserrat;
            color: white;
            // padding-right: 30px;
            .includedHead{
                width: 440px;
                // background-color: yellow;
                font-size: 50px;
                border-bottom: 3px solid white;
                font-weight: 300;
                margin-bottom: 20px;
            }
        }
    }
}