
    footer{
        // width: 100%;
        height: 70px;
        background-color: #494848;
        // position: static;
        // bottom:0;
        display: flex;
        p{
            margin: auto;
            color: white;
        }
    }
